.menus{
	width: 40vw;
	text-transform: uppercase;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 9pt;
}

header{
    
    display: flex;
	width: 100vw;
	height: 13vh;
    background-color: rgb(0, 0, 0);
}

.lista-de-itens{
	display: flex;
	gap: 20px;
	list-style: none;
    text-decoration: none;
}

.Rent{
    width: 180px;
    cursor: pointer;
    display: flex;
    margin-left: 50px;
    font-family: Tahoma;
    font-size: 30px;
    color: white;
    text-transform: none;
    text-decoration: none;
}

.lista-de-itens a{
	position: relative;
	color: #ffffff;
	text-decoration: none;
	font-style: none;
    

}